/* Put your style information here! */
html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-anchor: none;
}

body {
    font-family: 'Cambria', 'Arial', sans-serif;
    letter-spacing:2%;
    background: white;
    color:#252421;
    vertical-align: text-top;
    padding-bottom: 20px;
    height:100%;
}

.header {
    margin-top:5px;
    width:100%;
    height:40px;
    position:fixed;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
    z-index:1;

}

.header-right, .header-right a:visited{
    font-size:13px;
    margin-right:50px;
    margin-top:50px;
    font-weight:600;
    letter-spacing:0.5px;
}

.header-right a{
    color:#252421;
    padding-bottom:3px;
    text-decoration:none;
}

.header a:hover {
    color: blue;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#about-title{
    letter-spacing:1px;
    font-size:30px;
    font-weight:700;
    margin-top: 30%;
}


#about-text {
    width:726px;
    font-size:17px;
    line-height:25px;
    letter-spacing:0.75px;
    margin-top: 5%;
}

#about-text a:visited, #about-text a{
    color: blue;
    font-weight: 600;
    transition:0.3s;
}

#about-text a:hover{
    color:#D56350;
    transition:0.3s;
}

footer{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

@media screen and (max-width:767px) {
    #about-text {
        width:50%;
        font-size:17px;
        line-height:25px;
        letter-spacing:0.75px;
        margin-top: 5%;
        margin-left: 25%;
        
    }

    #about-title{
        margin-left: 25%;
    }
    
}